.title {
  text-align: center;
}

.form {
  margin: auto;
  max-width: 300px;
  display: flex;
  flex-direction: column;

  &__label {
    margin-bottom: 5px;
  }

  &__input {
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }

  &__button {
    width: 100%;
    padding: 10px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: #45a049;
    }
  }
}

.result {
  margin-top: 20px;
  text-align: center;
  font-size: 18px;
}
